:root {
	--white: #ffffff;
	--lightest-yellow: #e1dec7;
	--light-yellow: #9f9d83;
	--yellow: #f7da03;
	--orange: #f8c031;
	--translucent-orange: #f8c031f0;
	--pink: #f700e3;
	--light-pink: #f1a0e4;
	--purple: #a500f7;
	--border: #FFFFFF33;
	--game-container: #FFFFFF26;
	--box-shadow: #00000033;
}