#game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  padding: 0;
  flex-direction: column;
}

#game-board ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#game-board button {
  width: 8rem;
  height: 8rem;
  font-size: 5rem;
  cursor: pointer;
  font-family: 'MontserratExtraBold', cursive;
  padding: 1rem;
  border-radius: 6px;
  background: var(--border);
  border: 1px solid var(--border);
  box-shadow: 0 4px 20px var(--box-shadow);
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.player-symbol-board {
  color: var(--white);
}

@media (max-width: 768px) {
	#game-board button {
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  #game-board {
    margin: 1rem 0;
  }

  #game-board ol {
    gap: 1.1rem;
  }

	#game-board button {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    padding: 0.5rem;
  }
}
